html {
    font-family: arial,sans-serif;
}

input.azad_action {
    color: white;
    background-color: royalblue;
    font-size: 120%;
    margin: 0px;
    border: 0px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

a#azad_help {
    color: white;
    background-color: orange;
    border-color: orange;
    border: 5px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

div#azad_actions, div#azad_year_list, div#azad_info, div.azad_separator {
    width: 300px;
    margin: 0px;
}

#azad_year_list {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

input.azad_year_button {
    background-color: orange;
    color: white;
    width: 35px;
    text-align: center;
    margin: 1px;
    border: 0px;
    padding: 2px;
}

div.azad_separator {
    height: 10px;
    background-color: white;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

div#azad_info {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

div#azad_state {
    font-weight: bold;
    font-size: 120%;
    color: orange;
    width: 110px;
    margin: 0px;
    border: 5px;
    border-style: solid;
    border-color: orange;
    padding: 4px;
    text-align: center;
}

div#azad_statistics {
    color: orange;
    width: 180px;
    margin: 0px;
    border: 0px;
    padding: 5px;
}

div#azad_settings input {
    margin: 5px;
}

input.hidden {
    display: none;
}

div#footer {
    text-align: right;
}

div#footer table tbody tr td {
    width: 150px;
}

.azad_thanks {
    font-size: 200%;
    font-weight: bold;
    color: orange;
    text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
