input.azad_action {
    color: white;
    background-color: royalblue; 
    height: 25px;
    width: 21%;
    margin: 0px;
    border: 0px;
    padding: 5px;
}

input.azad_year_button {
    background-color: orange;
    color: white;
}

div#azad_actions, div#azad_year_list, div#azad_info, div.azad_separator {
    width: 300px;
}

div#azad_info {
    depth: 75px;
}

div.azad_separator {
    height: 10px;
    background-color: white;
}

div#azad_state {
    width: 45px;
    display: inline-block;
    background-color: red;
}

div#azad_statistics {
    width: 45px;
    display: inline-block;
    background-color: green;
}

input.hidden {
    display: none;
}

div#footer {
    text-align: right;
}
